<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>
      <style>
            html,
    body{
        font-family: Arial;
        background-color: rgb(198, 142, 86);
    }
         a {
            border: 1px solid black;
            border-radius: 12px;
            background-color: lightblue;
            text-decoration: none;
            padding: 5px 15px;
            color: black;
         }
      </style>
      <a href="/">Back Home</a>
   <body>
      
      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>